html, body {height:100%; min-height:100%; min-width:320px;}

body {background:#f4f4f4; overflow-x:hidden; padding:0!important;}
a {color: #0793f1;}
textarea {resize: none;}
.container {width: 100%;}
.slide-image {width: 100%;}
.list-group-item {border-radius:0!important;}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {background:#fff; color:#1a9cf2; border-color: #ddd;}
.carousel-holder {margin-bottom: 30px;}
.carousel-control,
.item {border-radius: 4px;}
/*.caption {height:165px;}*/
.caption h4 {white-space: nowrap;}
.thumbnail img {width: 100%;}
.ratings {padding-right: 10px; padding-left: 10px; color: #d17581;}
.thumbnail {padding: 0;}
.thumbnail .caption-full {padding: 9px; color: #333;}
footer {margin: 50px 0;}
.col-md-2.sidemenu {padding-left:0; width: 20%;}
.col-md-10.pageMain {width: 80%; padding-left: 30px; padding-right: 30px;}
.container .sidemenu .list-group {margin:0; background:#fff; font-size:19px; line-height:31px;}
.list-group-item {padding: 0 0 0 75px; line-height:82px;}
.container .sidemenu .list-group a.list-group-item:hover {background:#dbdbdb;}

body.inner .container {min-height:100%;}
body.inner .head-right-menu {display:inline-block; vertical-align:bottom; margin: 12px 0 0 0; padding-right: 45px; font-size:20px; float:right; line-height:44px;}
body.inner .head-right-menu a {font-size:20px; color:#3a3a3b; text-decoration:underline;}
body.inner .head-right-menu .dropdown {display:inline-block;line-height: auto;}
body.inner .head-right-menu .dropdown .btn-default.dropdown-toggle {padding:0; border: 0 none; font-size: 20px; background:transparent;vertical-align: middle; }
body.inner .head-right-menu .dropdown .btn-default.dropdown-toggle .caret{border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 8px dashed; height: 11px;}
body.inner .head-right-menu .dropdown-menu, ul.dropdown-menu {left:auto; right:0; min-width:50px;}

.list-group-item:before {font-family:'FontAwesome'; font-size: 28px; color:#242426; position:absolute; left:25px; top:0;}
.list-group-item:hover:before {color:#fff;}
.list-group-item.active:before {color:#1a9cf2;}
.list-group-item.dashboard:before {content:"\f009";}
.list-group-item.marcTools:before {content:"\f022";}
.list-group-item.statistic:before {content:"\f080";}
.list-group-item.profiles:before {content:"\f007";}
.list-group-item.acDetails:before {content:"\f06a";}
.list-group-item.finance:before {content:"\f155";}
.list-group-item.acManager:before {content:"\f0f2";}
.list-group-item.usrSettin:before {content:"\f013";}

.mt15 {margin-top:15px;}
body.inner .pageTitle {background:#dedede; margin: 0 -45px 0 -45px; padding:12px 0;}
body.inner .headlogo {display:inline-block; background: url('../img/mainsprite.png') 0 0 no-repeat; background-size:100% auto; height: 52px; margin: 0 0 0 30px; width: 142px;}
.pageTitle h1 {display:inline-block; font-size:32px; font-weight:bold; vertical-align:bottom; text-align:left; color:#3a3a3b; margin: 2px 0 0 23px; position:relative; line-height:50px;}

.pageSelector {position:relative;}
.pageSelector .row {margin-top:30px;}
label {display: block; font-weight:600; margin-bottom:2px;}
.pageSelector .btn-products, .pageSelector .btn-group, .pageSelector .btn-group ul {width:100%; text-align:left;}
.pageSelector .btn-products .caret {position:absolute; top:15px; right:15px;}

.resultsRow .title {line-height:31px; margin-right:18px; vertical-align:top;}
.resultsRow .title, .resultsRow .resultsList, .resultsRow .resultsTiles {display:inline-block;}
.resultsRow .resultsList, .resultsRow .resultsTiles {width:31px; height:31px; border-radius:4px; position:relative; margin-right:5px; cursor:pointer;}
.resultsRow .active {background:#fff;}
.resultsRow .resultsList:before {font-family:'FontAwesome'; font-size: 20px; color:#242426; content:"\f00b"; left:6px; top:2px; position:absolute;}
.resultsRow .resultsTiles:before {font-family:'FontAwesome'; font-size: 20px; color:#242426; content:"\f009"; left:6px; top:2px; position:absolute;}
.resultsRow .resultsTiles.active:before, .resultsRow .resultsList.active:before {color:#2d95f8;}
.resultsRow .col-md-4 .btn {float:right; background: #2d95f8; padding-left:30px; padding-right:30px;}
.resultsRow .col-md-4 .btn.btn-reset {background: #52534e; border-color: #393a35; margin-right:10px;}

.resultsHeader .col-md-12 .wrapper {border-top:solid 1px #d8d8da; border-bottom:solid 1px #d8d8da; position:relative; padding:0 .65%;}
.tile .resultsHeader .col-md-12 .wrapper {display:none;}
.resultsHeader .rescol .inner {line-height:20px; padding: 0 7px; margin:9px 0;}
.resultsHeader .rescol {display:inline-block;}
.resultsHeader .rescol.active {background:#fafafa; color:#2d95f8;}
.resultsHeader .rescol.active .inner { border-right: solid 1px #d8d8da;}
.resultsHeader .sortUp, .resultsHeader .sortDown {display:none; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAoCAMAAACo9wirAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQhQTFRF/////////////////////////////v7+/////////Pz8vuD8////9fX1/v7+/////Pz8vuD8/v7+////9fX18PDw/Pz8////vuD86enp9fX1wOH98PDw8PDw////vuD8wOH96enpwOH9/v7+/Pz89fX1wOH98PDwwOH9wOH96enpwOH9weH9wOH9wOH9wOH9wOH9/v7+////+fn5wOH9weH9wOH9wOH9mZqWwOH9jY6KmZqWmZqWmZqWk5SSjY6KhIWBjY6KjY6Ki4yIhIWBhIWBgYJ+hIWBgoN/g4SAgYJ+fn97f4B7fn97fn97f4B7dndyOKn3dndyOKn3OKn3OKn3Lab3ZWZhYRaapAAAAFZ0Uk5TAAECAwUICQsMDhccHCIkJSYoKCkrLi4vMzM2Nzg9RklJSkxMUlpbYWRnaWxsc3p8gICAg4aKjJeZm7e7vsPJysvNz9LT1djY2trb3Nze39/m6eny9/g5QU7HAAAAzklEQVQ4y+2SVRICMRBE2cXd3d0tuLv7QuD+NwGWSQg34GP7a2a6K5WqfjKZJJD+cgfhCLlFt2zCegU/RS4B4SgEmYT/JvoZHnbjfoiGBx+TiOCXX5TDphvPqqg6W7iYRArjihJmdXdTQwjV1hPbN8AX6loYFe0HUd+s4qQS/06aRscNY2hAy+rZFaTBEsYtw2fm4lOoe2SiZeffwDShcC6xEoGZWxhcROTK8CCfPL2Q2zmoH8YAbRbwkKeF49lJfc+NYh8jf8otvVJzP3oClXQtqqY54G0AAAAASUVORK5CYII=") 0 0 no-repeat; float:right; width:15px; height:20px; cursor:pointer;}
.resultsHeader .rescol.active .sortUp {display:inline-block; background-position: -15px 0;}
.resultsHeader .rescol.active .sortDown {display:inline-block;  background-position: -15px -18px;}
.resultsHeader .rescol.active .sortUp.active {display:inline-block;  background-position: 0 -18px;}
.resultsHeader .rescol.active .sortDown.active {display:inline-block;  background-position: 0 0;}

.resultsHeader .colPreview {width:11.25%;}
.resultsHeader .colCreative {width:11.15%;}
.resultsHeader .colCreativeTypes {width:10.80%;}
.resultsHeader .colDescription {width:20.5%;}
.resultsHeader .colBrand {width:13.75%;}
.resultsHeader .colLanguage {width:8.7%;}
.resultsHeader .colCurrency {width:10.75%;}

.resultsTable {margin-top:30px;}
.resultsTable .thumbnail {background-color:#f7f7f7;}
.resultsTable .chevron-left{position:absolute; width:15px; height:100%; top:0; left:0; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAMAAADEgrRGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGxQTFRFLZX4LpX4L5b4MJf4Mpf4NZn4N5r4OJr4QJ/5Qp/5QqD5UKf5Uaf5Vqr5Wav5Xa36Y7D6arT6a7T6cbf6qdP8rdX8rtb8ttr9vd79vt79xeH9y+X90uj96/X+7/f+8/n/9fr/9vr/+Pv/////BHslqQAAAGZJREFUGNNjUEYFDHTjy3AKI/Ol2Rn4kPhSrAw8sgi+BAsDrxxCvzgzA788wjxRJgYBRYT5IowMQkpI9rExcCgg2w+UF0SWVxYD6ldAdh+a+crKkqj2g93HLYvH/UD/cQnTNTyx8wFhMDgJjn5EzgAAAABJRU5ErkJggg==") 0 50% no-repeat;}
.resultsTable .chevron-right{position:absolute; width:15px; height:100%; top:0; right:0; background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAeCAMAAADEgrRGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGxQTFRFLZX4LpX4L5b4MJf4Mpf4NZn4N5r4OJr4QJ/5Qp/5QqD5UKf5Uaf5Vqr5Wav5Xa36Y7D6arT6a7T6cbf6qdP8rdX8rtb8ttr9vd79vt79xeH9y+X90uj96/X+7/f+8/n/9fr/9vr/+Pv/////BHslqQAAAF5JREFUGNNjUEYFDAPAF+aSQeHzMbBLI/NluRlYpZD1y/EysEgimyfPz8Asjmy+ggADkxiyfUqCDIwiyPYrcDCwIcsLocgrAvWL4jQfZL8Ekvt4UN2H7n5hTpkBC18At6g4CTcrmVcAAAAASUVORK5CYII=") 0 50% no-repeat;}

.resultsTable h4 {text-align:center;}
.resultsTable .bannerSize, .resultsTable .bannerType, .resultsTable .bannerLang,  .resultsTable .bannerCurr {text-align:center; line-height:30px;}
.resultsTable .whitebg {background:#fff;}

.resultsTable .bannerButtons {padding: 10px 0; position:relative;}
.resultsTable .bannerButtons .btn {width:49%;}
.resultsTable .bannerButtons .btn.bannerGen {float:right; background:#2d95f8;}
.resultsTable .bannerButtons .btn.bannerSee {background:#52534e; border-color:#333;}

.resultsTable .large {position:relative;}
/*.resultsTable .large .captInner {background-color:#f7f7f7; position:absolute; left:-1px; right:-1px; border:solid 1px #ddd; padding: 9px; top:0; border-radius:0 0 4px 4px;}*/
.resultsTable .large {height:auto;}

.resultsTable .bannerDesc, .resultsTable .bannerLang, .resultsTable .bannerCurr {display:none;}
.resultsTable .large .bannerDesc, .resultsTable .large .bannerLang, .resultsTable .large .bannerCurr {display:block;}

.resultsTable .col-sm-3 {position:relative;}
.resultsTable .modal .close {position:absolute; top:0; right:10px; font-size:36px; font-weight:300; color:#555; z-index:9999;}
.resultsTable .modal {position:absolute; margin: 0 15px; /*bottom:auto;*/}
.resultsTable .modal-dialog {margin: 10px auto; width: 100%;}
.modal-backdrop {display:none!important;}

.resultsTable .modal .modal-content {background:#f7f7f7;}
.resultsTable .modal .modal-body {padding-bottom:0;}
.resultsTable .modal .btn-group {display:block; margin-bottom:20px;}
.resultsTable .modal .btn-group .btn {display:block; float:none; width:100%; text-align:left;}
.resultsTable .modal .btn-group ul {width:100%; text-align:left;}
.resultsTable .btn-products .caret {position:absolute; top:15px; right:15px;}
.resultsTable .modal-footer {border-top: 0 none; padding-top:0;}
.resultsTable .modal .btn.btnHTML {background:#52534e; width:49%; border-color:#333; color:#fff;}
.resultsTable .modal .btn.btnJS {background:#2d95f8; width:49%; float:right; color:#fff;}
.resultsTable .modal .btn-products {border-radius: 4px;}
.form-control-area {cursor:text; text-align: left; padding-right: 20px;}
.tile .resultsTable .modal.fade {display:block!important; pointer-events: none;}
.tile .modal.fade.in {padding:0!important; overflow:visible;  pointer-events: auto;}
.modal-open {overflow-x:hidden; overflow-y:visible;}
.modal-content {border-radius:0; -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35); -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35); box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.35);}
.tile .modal-content i {display: block; position:absolute; width:11px; height:7px; top:-6px; right:24%; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJ9JREFUeNpi/P79OwMyePjwcRyQygTi6fLysouQ5ZjQFPazs7MvlJAQt2BlZV0I5LciyzOCTAYKKgDZZTw83JlCQoIMjIyMDP/+/WN4/foNw48fPycCbSgAK75x45YHkN4uKCjAwMfHi+Kk////M7x7957hy5ev04DcFsabN2//FxUVZuDk5GTABT5+/MTw4cNHsDP+MxAJmBhIAAABBgBiUDwnDqC9nQAAAABJRU5ErkJggg==') 0 0 no-repeat; text-indent:-9999px; overflow:hidden;}

.list .pageMain .col-sm-3.col-lg-3.col-md-3 {display:block; padding:0 15px; width:100%; position:relative;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .thumbnail {margin:0; padding:10px .65%; border-radius:0px; border-bottom:0 none; border-left:0 none; border-right:0 none; display:table; position:relative;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3:nth-child(even) .thumbnail {background:#fff;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3:nth-child(odd) .thumbnail {background:#f9f9f9;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .carousel.slide {width: 11.25%; display:inline-block; display:table-cell;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .caption { width:88%; padding:0; display:table-cell; height:auto; vertical-align: middle; padding-right: 150px;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner {vertical-align: middle; position:relative;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner div  {display: inline-block; padding:0 1.15%;vertical-align: middle;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner .whitebg  {background:transparent;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner h4 {display: inline-block; width:12.3%; padding:0 1.15%; text-align:left;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner .bannerSize {width:12.6%; text-align:left;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner .bannerDesc {width:23.3%; text-align:left;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner .bannerType {width:15.7%; text-align:left;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner .bannerLang {width:9.7%; text-align:left;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner .bannerCurr {width:12%; text-align:left;}
.list .pageMain .col-sm-3.col-lg-3.col-md-3 .captInner .bannerSee {display:none;}
.list .pageMain .resultsTable .bannerButtons {position:absolute; right:-150px;}
.list .pageMain .resultsTable .bannerButtons .btn {width:100%;}

.list .pageMain .resultsTable .modal {position:relative; overflow:visible;}
.list.modal-open {overflow: visible;}

.list .modal.fade.in {margin:0;}
.list .modal.fade.in .modal-dialog {margin:0;}
.list .modal.fade.in .modal-content {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius: 0; border: 0 none; background: #ededed;}
.list .modal.fade.in .modal-content .close {display:none;}
.list .modal.fade.in .modal-body {width:30%; display:inline-block; margin-right:5%;}
.list .modal.fade.in .modal-footer {width:60%; display:inline-block; float:right; padding-top:15px; text-align:right;}
.list .modal.fade.in .modal-footer .form-group {margin-bottom: 24px;}
.list .resultsTable .modal .modal-footer .btn {width:20%;}


body.inner .inner-row.col-md-12 {padding: 20px 15px 20px 0;}

.mCustomScrollbar{ -ms-touch-action: pinch-zoom; touch-action: pinch-zoom; /* direct pointer events to js */ }
.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action{ -ms-touch-action: auto; touch-action: auto; }
.mCustomScrollBox{position: relative; overflow: hidden; height: 100%; max-width: 100%; outline: none; direction: ltr;}
.mCSB_container{overflow: hidden; width: auto; height: auto;}
.mCSB_inside > .mCSB_container{ margin-right: 30px; }
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-right: 0; } /* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container{margin-right: 0; margin-left: 30px;}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{ margin-left: 0; } /* RTL direction/left-side scrollbar */
.mCSB_scrollTools{position: absolute; width: 16px; height: auto; left: auto; top: 0; right: 0; bottom: 0;}
.mCSB_outside + .mCSB_scrollTools{ right: -26px; } /* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools, .mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{right: auto; left: 0;}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools{ left: -26px; } /* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer{position: absolute; top: -5px; left: 0; bottom: -5px; right: -3px; height: auto; width:5px; background:#d8d8da; border-radius: 2px;}
.mCSB_scrollTools a + .mCSB_draggerContainer{ margin: 20px 0; }
.mCSB_scrollTools .mCSB_draggerRail{width: 2px; height: 100%; margin: 0 auto; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;}
.mCSB_scrollTools .mCSB_dragger{cursor: pointer; width: 100%; height: 30px; z-index: 1;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{position: relative; width: 4px; height: 100%; margin: 0 auto; -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; text-align: center;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar{ width: 12px;}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail, .mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail{ width: 8px;}
.mCSB_scrollTools .mCSB_buttonUp, mCSB_scrollTools .mCSB_buttonDown{display: block; position: absolute; height: 20px; width: 100%; overflow: hidden; margin: 0 auto; cursor: pointer;}
.mCSB_scrollTools .mCSB_buttonDown{ bottom: 0; }
.mCSB_container_wrapper{position: absolute; height: auto; width: auto; overflow: hidden; top: 0; left: 0; right: 0; bottom: 0; margin-right: 30px; margin-bottom: 30px;}
.mCSB_container_wrapper > .mCSB_container{padding-right: 30px; padding-bottom: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical{ bottom: 20px; }
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ right: 20px; }
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical{ bottom: 0; }
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ right: 0; }
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal{ left: 20px; }
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal{ left: 0; }
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper{margin-right: 0; margin-left: 30px;}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container{ padding-right: 0; }
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container{ padding-bottom: 0; }
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden{margin-right: 0; margin-left: 0;}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden{ margin-bottom: 0; }

.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
	-webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	-o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
	transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
}

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar, /* auto-expanded scrollbar */
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail{
	-webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s,
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out;
	-moz-transition: width .2s ease-out .2s, height .2s ease-out .2s,
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out;
	-o-transition: width .2s ease-out .2s, height .2s ease-out .2s,
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out;
	transition: width .2s ease-out .2s, height .2s ease-out .2s,
				margin-left .2s ease-out .2s, margin-right .2s ease-out .2s,
				margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s,
				opacity .2s ease-in-out, background-color .2s ease-in-out;
}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right: 0; margin: 12px 0;}
.mCustomScrollBox.mCS-minimal + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal, .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal{bottom: 0; margin: 0 12px;}
.mCS-dir-rtl > .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCS-dir-rtl > .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{left: 0; right: auto;}
.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail{ background-color: transparent; }
.mCS-minimal.mCSB_scrollTools_vertical .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger{ height: 50px; }
.mCS-minimal.mCSB_scrollTools_horizontal .mCSB_dragger, .mCS-minimal-dark.mCSB_scrollTools_horizontal .mCSB_dragger{ width: 50px;}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #fff; background-color: rgba(255,255,255,0.2); filter: "alpha(opacity=20)"; -ms-filter: "alpha(opacity=20)";}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-minimal.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #fff; background-color: rgba(255,255,255,0.5); filter: "alpha(opacity=50)"; -ms-filter: "alpha(opacity=50)";}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #52534e; width:5px; border-radius: 2px;}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #52534e;}
.offcanvas-menu {display:none; height:40px; position:relative; background: #e0e0e1; overflow:hidden; margin: 30px 0 31px 32px;}
.offcanvas-menu .offc-button {height:40px; width:40px; cursor:pointer;}
.offcanvas-menu .offc-button:after {font-family:'FontAwesome'; font-size: 36px; color:#242426; content:"\f0c9"; left:6px; top:-3px; position:absolute;}
/*body.inner .headlogo {margin:14px 0 12px 0; width:140px; height:52px;}*/
.offc-fade {position:absolute; top:0; left:0; right:0; width:100%; background: rgba(0, 0, 0, 0.4); display:none; z-index:998;}



/* LOGIN PAGE */ 
body.login, body.contacts {background: #e8e8e8; font-size:18px;}
body.login a, body.contacts a {text-decoration: underline; white-space:nowrap; }
body.login .header, body.contacts .header {position: relative; z-index: 2;}
body.login .header .inner, body.contacts .header .inner {background:#dedede; }
body.login .header .head_wrapper, body.contacts .header .head_wrapper {max-width:1020px; position:relative; margin:0 auto; padding: 12px 0;}
body.login .logo, body.contacts .logo {display:inline-block; width:142px; height:52px; background: url('../img/mainsprite.png') 0 0 no-repeat; background-size:100% auto;}
body.login .header-right, body.contacts .header-right {float:right; line-height:58px;}
body.login .btn-default, body.login .btn-default.active, body.login .btn-default.focus, body.login .btn-default:active, body.login .btn-default:focus, body.login .btn-default:hover, body.login .open > .dropdown-toggle.btn-default, body.contacts .btn-default, body.contacts .btn-default.active, body.contacts .btn-default.focus, body.contacts .btn-default:active, body.contacts .btn-default:focus, body.contacts .btn-default:hover, body.contacts .open > .dropdown-toggle.btn-default {background:transparent; border:0 none; margin-top:24px; font-size: 20px; line-height:1;}
body.login .caret, body.contacts .caret{border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 8px dashed;}
body.login .container, body.contacts .container {width:100%; height:100%; min-height:100%; position:absolute; top:0; left:0; padding-top:190px;}
body.login .main_wrapper {display:block; width:500px; margin:0 auto 0 auto;}
body.login .container h1 {margin:0; font-weight:bold; display:inline-block; position:relative;}
body.login .container h1:before {display:none; content: "\f090"; font-family:'FontAwesome'; font-size: 32px; position:absolute; left:0; top:0;}
body.login .login_form, body.contacts .contact_form {margin:24px 0 40px 0; background: #b0b0b0; border: solid 1px #969696; padding:1px;}
body.login .login_inner, body.contacts .contact_inner {background:#fff; border-top:solid 3px #0793f1; padding-top:10px;}
body.login .container .row, body.contacts .container .row {margin: 40px 36px 0 36px;}
body.login .container .col-md-6, body.login .container .col-md-12, body.contacts .container .col-md-6, body.contacts .container .col-md-12 {padding:0;}
body.login .container label, body.contacts .container label {font-size:22px;}
body.login .container .col-md-6.remember label, body.contacts .container .col-md-6.remember label {font-weight:normal; display:inline-block; margin-left:8px;font-size:18px;}
body.login .container .col-md-6.reset a, body.contacts .container .col-md-6.reset a {font-weight:normal; display:inline-block; float:right; }
body.login .container .btn-login {color:#fff; font-weight:bold; font-size:18px; border: 0 none; border-radius: 0; padding:0 60px; background: #0793f1; margin-top:-12px; border-radius:10px; height:44px;}
body.contacts .container .btn-login {position:relative;}

body.login .container .col-md-12.login, body.contacts .container .col-md-12.login {text-align:right;}
body.login .container .col-md-12.register, body.contacts .container .col-md-12.register {text-align:center; font-size:18px; padding-bottom:48px;}
body.login .form_footer, body.contacts .form_footer {text-align:center;}
body.login .form_footer a, body.contacts .form_footer a { display:inline-block;}


/* CONTACTS PAGE */ 
body.contacts .main_wrapper {display:block; max-width:1020px; position:realtive; width:100%; position:relative; text-align:left; margin:0 auto 0 auto;}
.dropdown.header-right {}
body.contacts .dropdown.header-right a {color:#464646;}
body.contacts .contact_form {width:65%; display:inline-block; }
body.contacts .contact_address {margin:24px 0 0 0; background: #b0b0b0; border: solid 1px #969696; padding:1px; width:32%;  float:right;}
body.contacts .container h1 {display:block; font-weight:bold; margin:0;}
body.contacts .container .row { margin: 40px 30px 0;}
body.contacts .container h1:before {display:none; content: "\f0e0"; font-family:'FontAwesome'; font-size: 32px; position:absolute; left:0; top:0;}
body.contacts .container .contact_address .row { margin: 20px 15px 0; padding-bottom:20px; font-size:15px; color:#343434;}
body.contacts .container .contact_address a {font-size:14px; color:#343434;}
body.contacts .container .row .col-md-6, body.contacts .container .row .col-md-12 { padding:0 10px;}
body.contacts .container .btn-login {margin-top:16px;}
body.contacts .container .send {text-align:right;}
body.contacts .container .g-recaptcha {padding-bottom:20px;}
body.contacts .addr_header {padding-bottom:20px; border-bottom:solid 1px #9d9d9d; margin-bottom:18px;}
body.contacts .addrline {padding:14px 0 0 32px; position:relative;}
body.contacts .addr-addr:after {display:block; content: "\f041"; font-family:'FontAwesome'; font-size: 18px; position:absolute; left:3px; top:11px; color:#8b8b8b;}
body.contacts .addr-mail:after {display:block; content: "\f0e0"; font-family:'FontAwesome'; font-size: 18px; position:absolute; left:0; top:11px;  color:#8b8b8b;}
body.contacts .addr-phone:after {display:block; content: "\f095"; font-family:'FontAwesome'; font-size: 18px; position:absolute; left:1px; top:11px; color:#8b8b8b;}
body.inner .head-right-menu .dropdown .btn-default.dropdown-toggle {margin-top:0; padding:0 4px; }
.head-right-menu a, .head-right-menu .dropdown, .head-right-menu .usernamr, .dropdown.header-right a {padding-left:4px; padding-right:4px;}
.dropdown.header-right ul.dropdown-menu a {padding: 3px 20px;}
body.contacts .container .btn-login {border: 0 none; border-radius: 10px; cursor: pointer; display: inline-block; height: 44px;  padding: 0 60px; background: #0793f1; text-align:center; font-weight:bold; color:#fff; font-size:18px;}

/* NEW INNER PAGES */
body.inner .inner-row {display: flex; position:relative; margin-right:15px;}
body.inner .dashboard .selector {float:none;}
body.inner .row.dashboard {margin-bottom:20px;}
body.inner .dashboard_wrapper {width:65%; display:inline-block; flex-grow: 5; }
body.inner .dashboard_med_wrap {display:block; background: #b0b0b0; border: solid 1px #969696; padding:1px; margin-bottom:20px;}
body.inner .dashboard_wrapper.fullwidth {display:block; width:auto;}
body.inner .dashboard_inner {background:#fff; border-top:solid 3px #0793f1; padding-top:10px; position:relative; padding:20px;}
body.inner .dashboard_right_block {width:320px; margin-left:30px; display:inline-block; vertical-align:top;}
body.inner .dashboard_right_wrapper {background: #b0b0b0; border: solid 1px #969696; padding:1px; }
body.inner .dashboard_right_block.with-conversion .dashboard_right_wrapper {margin-top:20px;}
.dashboard-graph {position:relative; background: url('/img/graph.jpg') 50% 50%; background-size:100% 100%; position:absolute; top:20px; left:20px; right:20px; bottom:20px;}
.dashboard-graph img {width:100%!important; height:100%!important;}
body.inner .dashboard-graph-wrapper {position:relative; height:520px;}
body.inner .click-more-options {position:absolute; bottom:30px; right:20px; padding-right:24px; font-size:18px; line-height:32px; cursor:pointer;}
body.inner .click-more-options:before {position:absolute; top:0; right:0; width:11px; height:8px; content:"\f0d7"; font-family:'FontAwesome'; font-size: 18px; color:#333;}
body.inner .click-more-options.opened:before {content:"\f0d8";}
body.inner .block_collapsed {overflow:hidden;}

body.inner .addr_header {padding-bottom:20px; border-bottom:solid 1px #9d9d9d; margin-bottom:18px; font-size:26px; font-weight:bold; color#343434;}
body.inner .dashboard_wrapper.graph .addr_header {border:0 none; margin-bottom:0;}
body.inner .addrline {padding:14px 0 0 32px; position:relative;}
body.inner .addrline.addr-name {padding:0; font-weight:bold;}
body.inner .addr-skype:after {display:block; content: "\f17e"; font-family:'FontAwesome'; font-size: 18px; position:absolute; left:3px; top:11px; color:#8b8b8b;}
body.inner .addr-mail:after {display:block; content: "\f0e0"; font-family:'FontAwesome'; font-size: 18px; position:absolute; left:0; top:11px;  color:#8b8b8b;}
body.inner .addr-phone:after {display:block; content: "\f095"; font-family:'FontAwesome'; font-size: 18px; position:absolute; left:1px; top:11px; color:#8b8b8b;}
body.inner .dashboard_right_block.with-conversion {margin-top:160px;}
body.inner .conversion {margin:-160px 0 0 0; background:#0793f1; padding:18px 25px; color:#fff; font-size:20px; }
body.inner .conversion .value {font-weight:bold; font-size:44px; }
body.inner .dashboard-carousel-wrapper .carousel.slide {margin: 0 17px; width:82px; height:82px; position:relative; display:inline-block; margin-right:14px;}
body.inner .dashboard-carousel-wrapper .carousel.slide .carousel-inner {height:82px;}
body.inner .dashboard-carousel-wrapper .carousel.slide img {width:auto!important; height:100%!important; max-width:1000px!important; max-height:100%!important;}
body.inner .dashboard-carousel-wrapper .carousel.slide .carousel-control.left {background:transparent; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAbCAYAAACuj6WAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOlJREFUeNqEk88KAXEUhWfMQiFsRSYWylaZPADZT3kMDzJsrCUlkoWVspAiO17AAiUla1E2Us6tO7u5d259TVNf58zvzxiGPhXQN0OkKchEFKFFAuhJQgJswUir8Viy6SWorgYcMAc3KWUJVlpNm2scSciz4GkpQ5aSkuCy4EpCjIWJVtMBG1CQBNqnKjiDqybtQQkUtboof9NMEizwA09QBx9w1BIHnJjWpBxL3aA6f158j6j2BO5a4gKsgRmU5M8FNEEKHCTpAcpcu+OVB06cFzGWkmi+4A0a9Az77+hmZK0QiQ7d/gswAJUuLEaoJ118AAAAAElFTkSuQmCC'); width:17px; left:-17px; background-position:50% 50%; background-repeat:no-repeat;}
body.inner .dashboard-carousel-wrapper .carousel.slide .carousel-control.right {background:transparent; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAbCAYAAACuj6WAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOhJREFUeNqE0z8LQWEUBvDXn1LcdHfypyibLJJZKYvyNYy+hJtRYZASyWRQBhl8AGUkMRmsFMnoufUopXOc+nWXp+e87+1eY4zpQs4o44UMNLSQD+5Q4nOvhUewhpAWSjDUlNa5cwOba3dwkdo8sIK51PSZE1TAgo12vhbPF9VCNkN9aZ07L3hCmRc6aI1TNgZ8SmgLVUhpoSsUIetVQklI/3sVY54pKDXVIAJt3vRnwmwYaGschmLfX+b35GkGZ6llCQttTZ1rClIgzoCjtQwZsqRfqsqbdOAhtbgNE22NH47Q00JvAQYAFgEsTfhEPW4AAAAASUVORK5CYII='); width:17px; right:-17px; background-position:50% 50%; background-repeat:no-repeat;}
body.inner .dashboard-carousel-wrapper .description {display:inline-block; font-weight:bold; vertical-align:top; lmargin-left:20px; flex:1; padding-left:20px; display:flex; align-items: center; justify-content: left;}
body.inner .dashboard-carousel-wrapper {padding:8px 0; border-bottom:solid 1px #6c6c6c; display:flex;}
body.inner .dashboard-carousel-wrapper:last-of-type {border-bottom:0 none; padding:8px 0 0 0;}
body.inner .messages-header {font-size:26px; font-weight:bold; padding-bottom:20px; border-bottom:solid 1px #646464;}
body.inner .control-row {padding:14px 0; border-bottom:solid 1px #646464;}
body.inner .control-row .btn {border-radius:0; position:relative;}
body.inner .control-row .btn-grey-controls {background:#dbdbdb; padding-left:36px;}
body.inner .control-row .messageRemove:before {position:absolute; top:5px; left:12px; display:block; content: "\f1f8"; font-family:'FontAwesome'; font-size: 16px; color:#5e6367;}
body.inner .control-row .messageDismiss:before {position:absolute; top:5px; left:12px; display:block; content: "\f00c"; font-family:'FontAwesome'; font-size: 16px; color:#5e6367;}
body.inner .control-row .btn-blue-controls {float:right; background: #3a91e7; background: -moz-linear-gradient(top, #3a91e7 0%, #1967b3 100%); background: -webkit-linear-gradient(top, #3a91e7 0%,#1967b3 100%); background: linear-gradient(to bottom, #3a91e7 0%,#1967b3 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a91e7', endColorstr='#1967b3',GradientType=0 ); padding-left:36px; color:#fff;}
body.inner .control-row .messageNew:before {position:absolute; top:5px; left:12px; display:block; content: "\f067"; font-family:'FontAwesome'; font-size: 16px; color:#fff;}
body.inner .message {padding:10px 0 10px 0; vertical-align:middle; border-bottom:solid 1px #e3e3e3; display:block; position:relative; display:flex;}
body.inner .message.header {padding-bottom:0; display:block;}
body.inner .message:hover {background:#fafafa;}
body.inner .messageCheck {display:inline-block; width:5%; min-width:32px; flex-grow:1;}
body.inner .messageBody {display:inline-block; width:70%; color:#9095a0; flex-grow:14;}}
body.inner .messageBody .from {color:#000;}
body.inner .datetime {display:inline-block; width:24%; color:#9095a0; text-align:right; flex-grow:5;}
#separateConv {display:none;}
body.inner .inner-row.withConversion .with-conversion .conversion {display:block;}
body.inner .message.header:hover {background:#fff;}
body.inner .message.header .messageBody {font-size:26px; font-weight:bold; color:#333; width:auto;}
body.inner .message.header input[type="checkbox"] {margin-top:11px;}
body.inner .message.header  .blue-header-button {background: #0793f1; border: 0 none; border-radius: 10px; color: #fff; font: 26px/28px Arial,Helvetica,sans-serif; height: 38px; outline: medium none; padding: 0; margin: 0 16px 0 0; display:inline-block; cursor:pointer; line-height:38px; padding:0 14px 0 35px; font-size:18px; position:relative;}
body.inner .message.header  .blue-header-button.new-message {float:right;}
body.inner .message.header  .blue-header-button.new-message:before {content: "\f067"; font-family:'FontAwesome'; font-size: 14px; color:#fff; position:absolute; top:2px; left:15px;}
body.inner .message.header  .blue-header-button.dismiss-message { padding:0 14px; background-color:#dededd; color:#626669;}
body.inner .message.header  .blue-header-button.delete-message { background-color:#dededd; color:#626669;}
body.inner .message.header  .blue-header-button.delete-message:before {content: "\f1f8"; font-family:'FontAwesome'; font-size: 18px; color:#626669; position:absolute; top:-1px; left:12px;}
body.inner .message.header  .blue-header-button.disabled {}
body.inner .message.header  .blue-header-button:last-of-type {margin: 0;}
body.inner .messageHeaderButtons {width:auto; padding:17px 0; border-top:solid 1px #646464; border-bottom:solid 1px #646464; margin-top:10px;}
body.inner .withConversion {padding:20px 0;}
body.inner .mainHeaderLine {margin: 20px 0; padding-bottom:20px; border-bottom:solid 1px #646464;}
body.inner .mainHeaderLine h2 {margin: 0; padding:0; font-size:26px; font-weight:bold; color:#29282a;}
body.inner .btn.btn-primary.changePass {position:absolute; top:40px; right:20px; background: #2d95f8;}
body.inner .dashboard_wrapper.fullwidth .row {margin-bottom:30px;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {border:0 none; background:transparent; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; padding-left:0;}
body.inner .dashboard_wrapper.fullwidth .input-group {display:block; padding-right:40px;}
body.inner .dashboard_wrapper.fullwidth .input-group.siteURLs {padding-right:0;}
body.inner .dashboard_wrapper.fullwidth .input-group input {}
body.inner .notifier label {display: inline-block; font-weight: 400; margin-bottom: 2px;}
body.inner .surl_wrapper {display: inline-block; width: 50%; box-sizing: border-box;padding-right: 55px; position:relative; margin-bottom:10px;}
body.inner .surl_wrapper:nth-of-type(even) {float:right; padding-right:0; padding-left:15px;}
body.inner .surl_wrapper:nth-of-type(even) .deleteBtn {right:5px;}
body.inner  .form-control {border-radius:4px!important;}
body.inner .surl_wrapper .deleteBtn {position:absolute; top:6px; right:60px; background:#dededd; width:85px; height:24px; padding: 3px 6px 3px 30px; box-sizing: border-box; color:#626669; z-index:10; border-radius:4px; font-weight:bold; cursor:pointer;} 
body.inner .surl_wrapper .deleteBtn:before {position:absolute; top:1px; left:10px; color:#626669; z-index:10; content: "\f1f8"; font-family:'FontAwesome'; font-size: 16px; font-weight: normal;} 
body.inner .btn.btn-primary.saveChanges {background: #2d95f8; padding-left:34px; position:relative; display:block; margin-top:20px;}
body.inner .btn.btn-primary.saveChanges:before {position:absolute; top:4px; left:9px; color:#fff; z-index:10; content: "\f00c"; font-family:'FontAwesome'; font-size: 16px; font-weight: normal;} 
body.inner .btn.btn-primary.addWebsite {float:right; background: #dededd; padding-left:34px; position:relative; color:#616669; border:0 none;}
body.inner .btn.btn-primary.addWebsite:before {position:absolute; top:5px; left:11px; color:#616669; z-index:10; content: "\f067"; font-family:'FontAwesome'; font-size: 16px; font-weight: normal;} 
body.inner .dashboard-graph-options .row {margin-bottom:10px;}
body.inner .dashboard_wrapper.fullwidth .row.blank {margin-bottom:0;}

body.inner .messages-pagination {border-top:solid 1px #e3e3e3; position:relative;}
body.inner .messages-pagination .paginator-wrapper {position:absolute; top:0; height:1px; left:0; right:0;}
body.inner .messages-pagination .paginator-inner {width:250px; margin:0 auto; display:flex; margin-top:14px;}
body.inner .messages-pagination .paginator-inner div {flex-grow:1; position:relative; cursor:pointer;}
body.inner .messages-pagination .paginator-inner div:before {font-family:'FontAwesome'; font-size: 16px; font-weight: normal;  color:#0793f1; position:absolute; top:0; left:0; right:0; text-align:center;}
body.inner .messages-pagination .paginator-inner .to-the-begin:before {content:"\f04a";}
body.inner .messages-pagination .paginator-inner .to-the-end:before {content:"\f04e";}
body.inner .messages-pagination .paginator-inner .step-back:before {content:"\f0d9"; font-size: 24px; top:-6px;}
body.inner .messages-pagination .paginator-inner .step-forward:before {content:"\f0da"; font-size: 24px; top:-6px;}
body.inner .messages-pagination .paginator-inner .pages-numbers {text-align:center; padding-top:2px; cursor:auto;}
body.inner .messages-pagination .paginator-inner .pages-numbers .cur-page {display:inline-block; padding: 1px 6px; background:#0793f1; color:#fff; margin-right:4px; }
body.inner .messages-pagination .paginator-inner .pages-numbers .all-pages {margin-left:4px; padding: 1px 6px; }
body.inner .pages-per-page .dropdown-menu {right:auto; left:0; top:-200%;}


body.inner .messages-pagination .dropdown {margin-top:14px;}
#dropdownPaginator {border: 0 none; background:#0793f1; border-radius:0; color:#fff; padding:2px 8px; margin-right:8px;}

/* MEDIA QUERIES */
@media all and (max-width: 1350px) {
	.col-md-2.sidemenu {width: 22%;}
	.col-md-10.pageMain {width: 78%;}
}

@media all and (max-width: 1250px) {
	.col-md-2.sidemenu {width: 24%;}
	.col-md-10.pageMain {width: 76%;}
	body.inner .messages-pagination .paginator-wrapper {top:50px;}
	body.inner .messages-pagination .dropdown {margin-bottom:50px;}
	body.inner .withConversion.inner-row {display:block;}
	body.inner .dashboard_wrapper {width:auto; display:block;}
	body.inner .dashboard_right_block {margin-left:0; width:auto; display:block;}
	#separateConv {display:block; margin-bottom:25px;}
	body.inner .inner-row.withConversion .with-conversion .conversion {display:none;}
	body.inner .dashboard_right_block.with-conversion {margin-top:20px;}
	body.inner .withConversion {margin-top:170px;}
}

@media all and (max-width: 1150px) {
	.col-md-2.sidemenu {width: 26%;}
	.col-md-10.pageMain {width: 74%;}
}

@media all and (max-width: 1024px) {
	.resultsRow .col-md-8 {display:none;}
	.resultsRow .col-md-4 {width:100%;}
	body.inner .col-md-2.sidemenu {position:absolute; top:0; right:0; width:300px; z-index:999; display:none;}
	.col-md-10.pageMain {padding:0; width:100%; padding: 0 15px 0 30px;}
	body.inner .headlogo {margin:14px 0 12px 0; width:140px; height:52px;}
	/*.pageTitle {height:60px; background:#fff;}*/
	/*.pageTitle:before {height:20px; font-family:'FontAwesome'; font-size: 28px; color:#242426; position:absolute; left:20px; top:13px; content:"\f022";}*/
	body.inner .pageTitle h1 {display:block; position:absolute; bottom:-64px; left:0; margin-left:0; padding-left:52px;}
	body.inner.tile .pageTitle h1 {bottom:auto; top:110px; left:0; padding-left:30px;}
	body.inner .pageTitle {margin-bottom:50px;}
	#main-search-form .row {margin:0;}
	#main-search-form .row.resultsRow {margin-top:50px;}
	.pageSelector .col-xs-6 {width:100%; padding:0 5%; margin-top:7px;}
	.resultsRow .col-md-4 .btn {width:47%; padding-left:0; padding-right:0;}
	.resultsRow .col-md-4 .btn:first-of-type {margin-left:2%;}
	.row.resultsTable.thumbs.masonry {width:100%!important; margin:0!important; padding:0!important;}
	.row.resultsTable.thumbs.masonry .masonry-brick {padding:0!important; margin:0!important; left:10px!important; right:10px!important; width:auto!important;}
	body.inner .col-md-12 {width: 100%; float:none;}
	body.login .header, body.contacts .header {padding-top:0;}
	body.login .container, body.contacts .container {padding-top: 136px;}
	.dropdown.header-right {padding-top:0; }
	body.login .header .head_wrapper, body.contacts .header .head_wrapper {padding:23px 25px 25px 25px;}
	body.login .logo, body.contacts .logo {width:140px; height:51px;}
	body.contacts .container .row {vertical-align:top;}
	body.login .container .col-md-6, body.contacts .container .col-md-6 {width:49%!important; display: inline-block; vertical-align:top;}
	body.login .container .col-md-6.reset, body.contacts .container .col-md-6.reset {float:right;}
	.offcanvas-menu {display:inline-block;}
	body.contacts .contact_form, body.contacts .contact_address {display:block; width:auto; float:none;}
	body.inner .head-right-menu {margin: 24px 0 23px 0; line-height: 56px;}
	body.inner {background:#fff;}
	body.inner .dashboard_wrapper, body.inner .dashboard_right_block {display:block; width:100%; margin-left:0; margin-right:0;}
	body.inner .dashboard_wrapper {margin-top:20px;}
	body.inner .dashboard h1::before {content: "\f009"; display: block; font-family: "FontAwesome"; font-size: 32px; left: 11px; position: absolute; top: 0;}
	body.inner .accountDetails h1::before {content: "\f05a"; display: block; font-family: "FontAwesome"; font-size: 32px; left: 11px; position: absolute; top: 0;}
	body.inner .dashboard-carousel-wrapper { border-bottom: 0 none; display:inline-block; width:24%; position:relative; text-align:center;}
	body.inner .dashboard-carousel-wrapper .description {line-height:1.2; text-align:center; margin-top:14px; margin-left:0; padding:0 14px; justify-content: center;}
	body.inner .conversion {margin:-160px -15px 0 -15px; }
	body.inner .headlogo {margin:26px 0 0 40px; vertical-align:top;}
	body.inner.tile .offcanvas-menu {margin: 26px 0 14px 40px;}
	#dropdownMenu1, body.login .header-right, body.contacts .header-right {line-height: 56px;}
	#dropdownMenu1 {padding: 0 0 0 4px;}
	body.inner .inner-row.flex {display:flex; flex-wrap: wrap; flex-direction:column-reverse;}
	body.inner .inner-row.flex .dashboard_wrapper, body.inner .inner-row.flex .dashboard_right_block {flex: 1 0 100%; }
	body.inner .message.header {margin-top:0; padding-top:0;}
	body.inner .surl_wrapper, body.inner .surl_wrapper:nth-of-type(2n) {float:none; display:block; padding:0; position:relative;}
	body.inner .surl_wrapper input {float:none; display:block;position:relative;}
	body.inner .surl_wrapper .deleteBtn {right:5px;}
	body.inner .surl_wrapper {width:100%; margin-bottom:20px;}
	body.inner .dashboard_wrapper.fullwidth .input-group {padding-right:0;}
	body.inner .head-right-menu, body.inner #dropdownMenu1 {font-size:18px;}
	body.inner .withConversion {margin-top:240px;}
	body.inner .dashboard-graph-options .row {margin-bottom:0;}
	body.inner .dashboard-graph-options .row .col-md-3 {margin-bottom:10px;}
	body.inner .dashboard_med_wrap:first-of-type .dashboard_inner {padding-bottom:60px;}
	body.inner .message.header .blue-header-button {font-size:16px;}
}

@media all and (max-width: 640px) {
	.resultsRow .col-md-8 {display:none;}
	body.inner.tile .resultsRow .col-md-4 {width:100%; padding-left:5%; padding-right:5%;}
	.row.resultsTable {padding: 15px;}
	.resultsTable .bannerDesc, .resultsTable .bannerLang, .resultsTable .bannerCurr {display:block;}
	.masonry-brick {width:100%;}
	.bannerType {background:#fff;}
	.resultsTable .bannerButtons .btn.bannerSee {display:none;}
	.resultsTable .bannerButtons .btn.bannerGen {float:none; width:100%;}
	.resultsTable .modal {margin:0;}
	.tile .modal-content i {height:60px; padding-top:20px; font-style:normal; font-weight:bold; font-size:16px; background:none; left:0; right:0; top:-59px; background-color:#2da6f7; color:#fff; right:0; width:auto; text-indent:0px; text-align:center;}
	.modal-content {border:1px solid #ddd; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
	.resultsTable .modal .close {top:-45px; color:#fff; opacity:1;}
	body.login, body.contacts {background: #fff;}
	body.contacts .addr_header {display:none;}
	body.login .main_wrapper, body.contacts .main_wrapper {margin-top:0;}
	body.login .main_wrapper {width:auto;}
	body.login .container, body.contacts .container {padding-left:25px; padding-right:25px;}
	body.login .login_form, body.login .login_inner, body.contacts .login_form, body.contacts .login_inner {border: 0 none; background:transparent; margin:0;}
	body.login .container h1, body.contacts .container h1 {padding-left:42px; margin:0;}
	body.login .container h1:before, body.contacts .container h1:before {display:block; }
	body.login .container .row, body.contacts .container .row {margin: 32px 0 0;}
	body.login .main_wrapper, body.contacts .main_wrapper {align-self: flex-start;}
	body.login .container .btn-login {width:100%;}
	body.contacts .container .row .col-md-6, body.contacts .container .row .col-md-12 {width:auto!important; display:block; padding:0;}
	body.contacts .contact_form, body.contacts .contact_address {border: 0 none; padding:0; background:transparent;}
	body.contacts .contact_address {margin-left:-25px; margin-right:-25px;}
	body.contacts .contact_form .contact_inner {padding:0; border:0 none;}
	body.contacts .contact_address  .contact_inner {padding:0 25px 0 25px;}
	body.contacts .contact_address  .contact_inner .row {padding-bottom:0;}
	body.inner .dashboard-carousel-wrapper { width:32%;}
	.main_wrapper {padding-bottom:20px;}
	body.contacts .container .contact_address .row {margin:0;}
	body.contacts .addr-phone:after, body.contacts .addr-mail:after {content:"|" ;}
	body.contacts .addr-addr:after {display:none;}
	body.contacts .addr-addr, body.contacts .addr-mail, body.contacts .addr-phone {display:inline-block; padding: 14px 7px 0 14px; white-space:nowrap;}
	body.contacts .addr-addr {padding-left:0;}
	body.contacts .addr-phone {padding-right:0;}
	body.contacts .contact_address .row .col-md-12 {text-align:center;}
	body.contacts .container .row .col-md-6:nth-of-type(2) {margin-top:32px;}
	body.inner.tile .col-md-10.pageMain {padding: 0 15px;}
	.input-group .form-control, .input-group-addon, .input-group-btn {display:block; float:none; }
	.input-group {margin-bottom:20px;}
	body.inner .dashboard_wrapper.fullwidth .row{margin-bottom:0;}
	body.inner .dashboard_wrapper.fullwidth .row.blank {margin-bottom:20px;}
}

@media all and (max-width: 560px) {
	body.contacts .addr-phone {padding: 14px 0 0 0; display:block;}
	body.contacts .addr-phone:after {display:none;}
	body.inner .btn.btn-primary.changePass {position:relative; display:block; right:auto; top:auto; margin-top:20px;}
	body.inner .headlogo {margin:26px 0 0 20px;}
}

@media all and (max-width: 500px) {
	body.inner .headlogo {display:none;}
}

@media all and (max-width: 450px) {
	body.inner .dashboard-carousel-wrapper .carousel.slide {height:auto;}
	body.inner .dashboard-carousel-wrapper {width:auto; margin: 20px auto;}
	body.inner .dashboard-carousel-wrapper .carousel.slide {height:auto; width:auto;}
	body.inner .dashboard-carousel-wrapper .carousel.slide .carousel-inner {height:auto;}
	body.inner .dashboard-carousel-wrapper .carousel.slide img {width:100%!important;}
	body.inner .message.header, body.inner .message.header .messageHeaderButtons {display:block; margin-top:14px; text-align:left;}
	body.inner .message.header {margin-top:0; padding-top:0;}
}

@media all and (max-width: 425px) {
	body.contacts .addr-mail {padding: 14px 0 0 0; display:block;}
	body.contacts .addr-mail:after {display:none;}
	body.inner.tile .col-md-10.pageMain {padding: 0;}
}

@media all and (max-width: 400px) {
	body.login .container .col-md-6, body.contacts .container .col-md-6 {display: block; vertical-align: top; width: auto!important; }
	body.login .col-md-6.reset {margin-top:15px; text-align:center;}
	body.login .container .col-md-6.reset, body.contacts .container .col-md-6.reset, body.login .container .col-md-6.reset a, body.contacts .container .col-md-6.reset a {float:none;}
	.row.resultsTable.thumbs.masonry .masonry-brick {left:0!important; right:0!important;}
}